*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Maven Pro', Calibri, Arial, sans-serif;
    color: #fff;
    background: #333;
    overflow: hidden;
}

.playball {
    font-family: 'Playball', Calibri, Arial, sans-serif;
}

/* Necessary for Page Transitions to function */
.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-current, .no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

.no-js body {
    overflow: auto;
}

.pt-trigger-container {
    position: absolute;
    z-index: 999999;
    display: inline-block;
    left: 38.5%;
    
    /* Removes highlighting */
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    
}

.pt-trigger {
    outline: 0;
    color: wheat;
    background:none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 10px;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    letter-spacing: 1px;

    cursor: pointer;
    font-family: Calibri;
    
    -o-transition: color .5s ease-out;
    -ms-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -webkit-transition: color .5s ease-out;
    transition: color .5s ease-out;

}

.pt-trigger:hover {
    color: aqua;
}

.pt-trigger:focus {
    text-decoration: underlin
}

/* Specific Page Styles */
.pt-page-ontop {
    z-index: 999;
}

.pt-page h1 {
    position: absolute;
    font-size: 4.4em;
    line-height: 1;
    margin: 0;
    top: 10%;
    width: 100%;
    text-align: center;
}

.pt-page-1 {
    background: #292F33;
}

.pt-page-1 h1 {
    top: 40%;
}

.pt-page-2 {
    background: #795548;
}

.pt-page-3 {
    background: #656D78;
}

.pt-page-4 {
    background: #607D8B;
}

/*No Animation Support Message Style*/
.pt-message {
    display: none;
    position: absolute;
    z-index: 99999;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #da475c;
    color: #fff;
    text-align: center;
}

.pt-message p {
    margin: 0;
    line-height: 60px;
    font-size: 26px;
}

.no-cssanimations .pt-message {
    display: block;
}