*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Maven Pro', Calibri, Arial, sans-serif;
    color: #fff;
    background: #333;
    overflow: hidden;
}

a, a:link, a:hover, a:visited {
    color: #eab758;
}

#wip {
    position: fixed;
    z-index: 999999;
    bottom: 5%;
    left: 2%;
    font-family: 'Maven Pro', Calibri, Arial, sans-serif;
    border: 4px solid black;
    border-radius: 20%;
    background: #03A9F4;
    color: black;
    font-size: 4.1em;
    padding: 5px 30px 18px 30px;
}

#henry {
    width: 20em;
    margin-right: 20px;
}

h2 {
    font-family: 'Maven Pro';
}

.content-wrapper {
    position: relative;
    top: 6%;
    height: 88%;
}

.content-wrapper h1 {
    text-align: center;
    font-size: 4.4em;
    line-height: 1;
    margin: 0 0 20px 0;
    width: 100%;
}

#about-me {
    text-align:left;
    width: 50%;
    margin: 0 auto;
}

#about-me p {
    font-size: 20px;
}

.playball {
    font-family: 'Playball', Calibri, Arial, sans-serif;
    color: grey;
}

.hover-effect {
    color: #e2e2e2;    
    -o-transition: color .5s ease-out, font .5s;
    -ms-transition: color .5s ease-out, font .5s;
    -moz-transition: color .5s ease-out, font .5s;
    -webkit-transition: color .5s ease-out, font .5s;
    transition: color .5s ease-out, font .5s;
}

.hover-effect:hover {
    font-size: 1.01em;
    color: white;
}

/* Necessary for Page Transitions to function */
.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-current, .no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

.no-js body {
    overflow: auto;
}

.pt-trigger-container {
    position: relative;
    z-index: 999999;
    display: inline-block;
    text-align: center;
    
    /* Removes highlighting */
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    
}

.pt-trigger {
    outline: 0;
    color: wheat;
    background:none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 10px;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    letter-spacing: 1px;

    cursor: pointer;
    font-family: Calibri;
    
    -o-transition: color .5s ease-out;
    -ms-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -webkit-transition: color .5s ease-out;
    transition: color .5s ease-out;

}

.pt-trigger:hover {
    color: aqua;
}

.pt-trigger:focus {
    text-decoration: underlin
}

.pt-page-ontop {
    z-index: 999;
}
/* Specific Page Styles */

.pt-page-1 {
    background: #292F33;
}

.pt-page-1 h1 {
    position: relative;
    top: 40%;
}

.pt-page-2 {
    background: #607D8B;
}

.pt-page-3 {
    background: #656D78;
}

.pt-page-4 {
    background: #795548;795548
}

/* Social Media Buttons */
.sm-wrapper {
    overflow:auto;
    text-align: center;
    
}

.sm-wrapper li {
    list-style-type: none;
    display: inline;
}

.sm-wrapper i {
    color: #fff;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    -o-transition: color .1s ease-out;
    -ms-transition: color .1s ease-out;
    -moz-transition: color .1s ease-out;
    -webkit-transition: color .1s ease-out;
    transition: color .1s ease-out;
}

.sm-wrapper .fa-twitter:hover {
    color: #55acee;   
}

.sm-wrapper .fa-codepen:hover {
    color: #252527;
}

.sm-wrapper .fa-github-alt:hover {
    color: #4078C0;
}

/* No Animation Support Message Style */
.pt-message {
    display: none;
    position: absolute;
    z-index: 99999;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #da475c;
    color: #fff;
    text-align: center;
}

.pt-message p {
    margin: 0;
    line-height: 60px;
    font-size: 26px;
}

.no-cssanimations .pt-message {
    display: block;
}